* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: gray;
}

*::-moz-selection {
    background: gray;
}
 

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-mode:#0a0a10;
    --color-light-mode:#ece7e1;
    --color-ddd-color: #ddd;
    --color-gray: #c4c4c4;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
    --color-navbarBorder-dark:#20222e;
}
main{
    background-color: rgb(255, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#reader{
    width: 600px;
    border: 2px solid transparent !important;
}
#result{
    text-align: center;
    font-size: 1.5rem;
}

.html5-qrcode-element{
    margin: auto;
    height: 40px;
    padding: 20px;
    border-radius: 0;
    border: none;
    background-color: rgb(76, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    transition-duration: .3s;
}
.html5-qrcode-element:hover{
    background-color: rgb(120, 86, 255);
}
#html5-qrcode-anchor-scan-type-change{
    width: fit-content;
    margin: 20px auto 0px !important;
    background-color: transparent;
    border: none;
    color: rgb(76, 0, 255);
    padding: 20px;
    border-radius: 30px;
    transition-duration: .5s !important;

}
#html5-qrcode-anchor-scan-type-change:hover{
    color: white;
    background-color: rgb(161, 121, 255);
    transition-duration: .5s;
    
}
#success{
    font-size: 4rem;
    background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0 50%;
    }
}

/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
 
}

@media screen and (max-width:500px) {
    html {
        font-size: 45%;  
    }

}

@media screen and (max-width:430px) {
    html {
        font-size: 43%;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }
}
@media screen and (max-width:300px) {
    html {
        font-size: 40%;
    }
}

/* responsive code above */

